<% layout("/layouts/boilerplate") -%>
<body>
  <br /><br />
  <form
    method="post"
    action="/listings/<%=list._id %>?_method=put"
    class="needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        id=""
        value="<%=list.title %>"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">please choose a title</div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        id=""
        placeholder="enter description"
        class="form-control"
        required
      >
<%=list.description%></textarea
      >
    </div>

    <!-- <div class="mb-3">
      <label for="image" class="form-label">Upload Image</label>
      <input type="file" name="listing[image]" class="form-control" />
      <div class="valid-feedback">Looks good!</div>
      required
    </div> -->
    <!-- <div width="100px" hight="100px">
      Original Listing Image <br />
      <img src="<%=list.image.url %>" alt="" />
    </div> -->

    <div class="mb-3">
      <label for="image" class="form-label">Upload New Image</label>
      <input type="file" name="listing[image]" class="form-control" />
    </div>

    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="listing[price]"
          value="<%=list.price %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">please choose a price</div>
      </div>

      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          value="<%=list.country %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">please choose a county</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        name="listing[location]"
        id=""
        value="<%=list.location%>"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">please choose a location</div>
    </div>
    <br />
    <button class="btn btn-dark add-btn">Edit</button>
    <br /><br />
  </form>
</body>
